<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729784385247-4fbs1nmcp1tq10ro1dbi1jfevsuq2uvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729784385247-4fbs1nmcp1tq10ro1dbi1jfevsuq2uvu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729784385247-q36t906mac3m9n2k8vm5kcqsmfg01kkh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZrFdQ9L6NCKR0C6uC4Q17mVOTK5fu0Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>729784385247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.videocall.videoCall</string>
	<key>PROJECT_ID</key>
	<string>video-call-ffd9d</string>
	<key>STORAGE_BUCKET</key>
	<string>video-call-ffd9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729784385247:ios:33ce839bd8a1cdce18b36a</string>
</dict>
</plist>